extends partials/layout
block content
    div.container
      h1 Adding user
      p You can add user with postman by doing POST request to localhost:3009/users with user information
      div
        p Example data:
        code { name: 'James Smith', age: 26 }