extends partials/layout
block content
    div.container
      h1 Adding user
      p You can add user with postman by doing POST request to /user api and sending object as user information
      div
        p Example data:
        code { name: 'James', smith: 'Hudson' }