header.main-header
    div.container
        nav.main-header_nav
            ul.main-header__item-list
                li.main-header__item
                    a(href="/") Home
                li.main-header__item
                    a(href="/admin") Admin